
.activity_whole{
  margin-top: 50px;
}

.calendar_button{
  background-color: #f2f2f2;
  border: 1px solid #ced4da;
  padding: 10px;
  vertical-align: middle;
}

.activity_list{
  margin-top: 50px;
}

#no_activity_banner{
  text-align: center;
  opacity: 0.3;
}

.item{
  padding: 20px;
}

label{
  margin: 0;
}
