.admin_monitoring_whole{
  margin-top: 100px;
}

.details{
  float: right;
}

.col-sm-4{
  margin-bottom: 20px;
}

.water_level_header{
  text-align: center;
}

.controls{
  margin-bottom: 20px;
}

.button_control{
  width: 49%;
}

.view_set{
  vertical-align: middle;
  float: right;
  padding: 10px;
}

.isDisabled {
  color: rgba(20, 137, 255, 0.22);
  text-decoration: none;
}

.notif-icon{
  width: 50px;
  height: 50px;
  vertical-align: baseline;
}

.notif-content{
  padding: 16px;
  padding-right: 0px;
  margin-top: 0;
}

.notif-item{
  word-wrap: break-word;
  width:400px;
  display: block;
  padding-left: 10px;
  padding-right: 0px;
}

.notif-title{
  margin-bottom: 0;
}
.notif-description{
  display: inline-block;
  word-break: break-word;
  white-space: normal;
  width: 300px;
}

.fa-circle{
  font-size: 15px;
  float: right;
}

.active_notif{
  background-color: #F3F3F3;
}


#notif_count{
  margin-left: 16px;
}
