.notif-icon{
  width: 50px;
  height: 50px;
  vertical-align: baseline;
}

.notif-content{
  padding: 16px;
  padding-right: 0px;
  margin-top: 0;
}

.notif-item{
  word-wrap: break-word;
  width:400px;
  display: block;
  padding-left: 10px;
  padding-right: 0px;
}

.notif-title{
  margin-bottom: 0;
}
.notif-description{
  display: inline-block;
  word-break: break-word;
  white-space: normal;
  width: 300px;
}

.fa-circle{
  font-size: 15px;
  float: right;
}

.active_notif{
  background-color: #F3F3F3;
}


#notif_count{
  margin-left: 16px;
}
