.notif-icon{
  width: 50px;
  height: 50px;
  vertical-align: baseline;
}

.notif-content{
  padding: 16px;
  padding-right: 0px;
  margin-top: 0;
}

.notif-item{
  word-wrap: break-word;
  width:400px;
  display: block;
  padding-left: 10px;
  padding-right: 0px;
}

.notif-title{
  margin-bottom: 0;
}
.notif-description{
  display: inline-block;
  word-break: break-word;
  white-space: normal;
  width: 300px;
}

.fa-circle{
  font-size: 15px;
  float: right;
}

.active_notif{
  background-color: #F3F3F3;
}


#notif_count{
  margin-left: 16px;
}

.admin_summary_whole{
  margin: auto;
  margin-top: 2%;
  
}

.columns{
  width: 100%;
  column-count: 2;
  column-gap: 1.25rem;
  
}

.card{
  margin: 0px 0px 5%;
  position: static;
}

#details{
  right: 20px;
  float: right;
}

.table{
  border-collapse: collapse;
}
/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 275px;
  }
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 275px;
  overflow: auto;
}
@media screen and (min-width: 1001px) {
  .column{
    width: 100%;
    column-count: 2;
    column-gap: 1.25rem;
  }
}