.container {
    background-color: #fff;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.signup_control {
    padding: 6px;
}

.controls {
    display: inline;
    width: 20%;
    text-align: center;
}

#signup_card {
    margin-top: 35%;
    border-radius: 25px;
    padding: 16px;
    width: 90%;
}

#body_id {
    background: url('../images/bg.jpg');
    background-repeat: round;
    background-size: cover;
}

